@import url("./vendor/normalize.css");
@import url("./vendor/fonts/font.css");

@mixin _1440 {
  @media screen and (max-width: 1440px) {
    @content;
  }
}
@mixin _1248 {
  @media screen and (max-width: 1248px) {
    @content;
  }
}
@mixin _1170 {
  @media screen and (max-width: 1170px) {
    @content;
  }
}
@mixin _979 {
  @media screen and (max-width: 979px) {
    @content;
  }
}
@mixin _768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin _600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}
@mixin _480 {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin _350 {
  @media screen and (max-width: 350px) {
    @content;
  }
}

.body {
  position: relative;
  background-color: black;
  color: white;
  font-family: "Inter";
}
.wrapper {
  min-width: 280px;
  max-width: 880px;
  margin: auto;
  padding: calc(19px + (200 - 19) * ((100vw - 320px) / (1280 - 320)));
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 1280px) {
  .wrapper {
    padding: 200px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0;
  }
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 100%;

  // .popup__container

  &__container {
    position: relative;
    margin: auto;
    max-width: 430px;
    width: 100%;
    max-height: 330px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    @include _480() {
      margin: auto 19px;
    }
  }

  // .popup__form

  &__form {
    box-sizing: border-box;
  }

  &__title {
    color: black;
    margin: 0;
    padding: 34px 0 48px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    @include _600() {
      padding-top: 26px;
      padding-bottom: 74px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .popup__user-info

  &__user-info {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  // .popup__user

  &__input {
    border: 0;
    padding: 0 0 13px 0;
    border-bottom: 1px solid #000000;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    &:focus {
      outline: none;
    }
    &:nth-child(2) {
      margin-bottom: 0px;
    }
  }

  // .popup__submit

  &__submit {
    width: 358px;
    height: 50px;
    margin: 48px auto 37px;
    border: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    @include _768() {
      margin: 45px auto 25px;
      width: 238px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url(./image/Close-Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    @include _600() {
      top: -36px;
      right: 0;
      width: 20px;
      height: 20px;
    }
  }
}
.popup_opened {
  display: flex;
}

.header {
  margin: auto;
  // max-width: calc(100% - 2 * 200px);
  padding: 45px 0 41px;
  border-bottom: solid 1px #545454;
  // .header__logo
  @include _979() {
    padding: 28px 0 27.6px;
  }
  @include _768() {
    padding-left: 17px;
  }

  &__logo {
    object-fit: cover;
    max-width: 142px;
    width: 100%;
    @include _979() {
      padding-left: 8px;
      max-width: 103.74px;
    }
  }

  // .header__line

  &__line {
  }
}
.profile-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 36px 0 46px;
  @include _768() {
    flex-direction: column;
    justify-content: center;
    padding: 38.25px 0 36px;
  }

  // .profile-user__avatar

  &__avatar {
    max-height: 120px;
    border-radius: 50%;
    @include _979() {
      margin-bottom: 22.25px;
    }
  }

  // .profile-user__info
  &__info {
    padding: 0 25px 0 30px;
    @include _979() {
      margin: auto;
      padding: 0;
      padding-bottom: 36px;
    }
  }

  &__wrap {
    display: flex;
    @include _979() {
      padding-bottom: 10px;
      margin: auto;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include _768() {
      flex-direction: column;
      justify-content: center;
    }
  }

  // .profile-user__name

  &__name {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    @include _979() {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 33px;
      text-align: center;
    }
  }

  // .profile-user__profession

  &__profession {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    @include _979() {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
    }
  }

  // .profile-user__edit

  &__edit {
    background-image: url(./image/Edit\ Button.svg);
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-left: 18px;
    padding: 0;
    cursor: pointer;
    @include _979() {
      width: 18px;
    }
  }

  // .profile-user__add-content

  &__add-content {
    background: none;
    border: none;
    background-image: url(./image/Add\ Button.svg);
    width: 150px;
    height: 50px;
    cursor: pointer;
    @include _768() {
      width: 282px;
      background-image: url(./image/Add\ Button\ big.svg);
    }
  }
}
// .photo-user__item
.photo-user {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-auto-rows: 362px;
  gap: 20px 17px;
  padding-bottom: 67px;
  @include _768() {
    padding: 0 19px 48px;
  }

  &__item {
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }

  // .photo-user__image

  &__image {
    object-fit: cover;
    max-height: 282px;
    width: 100%;
  }

  // .photo-user__title

  &__title {
    color: black;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-left: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;
  }

  // .photo-user__like

  &__like {
    background-image: url(./image/like.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: none;
    position: absolute;
    width: 22px;
    height: 19px;
    bottom: 30px;
    right: 20px;
  }
}
.footer {
  padding-bottom: 60px;
  @include _768() {
    padding: 0 19px 36px;
  }

  // .footer__copyright

  &__copyright {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    @include _979() {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
