.popup__container {
  position: relative;
  margin: auto;
  max-width: 430px;
  width: 100%;
  max-height: 330px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
    .popup__container {
        margin: auto 19px;
      }
}