.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(./image/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
    .popup__close {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
      }
}