.content-user__like {
  grid-area: like;
  background-image: url(../../../image/button/like.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border: none;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.4s;
  padding: 0;
}
.content-user__like:hover {
  opacity: 0.5;
}
.content-user__like:active {
  opacity: 1;
  background-image: url(../../../image/button/like_active.svg);
}
